body{
    background-color: rgb(61, 143, 143);
}
h1{
    color: yellowgreen;
    margin: auto;
    text-align: center;
}
.btn{
padding-left: 45%;

}
.btn1{
    padding-left: 48%;
    
}
